.loginContainer {
  width: 30%;
  position: relative;
  // display: flex;
  // justify-content: flex-end;
  // align-items: flex-start;
  .loginContent {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -65%);
    .title {
      font-size: 70px;
    }
  }
}

button {
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 60px;
  background-color: rgb(53, 181, 236);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  input {
    margin-bottom: 10px;
    padding: 10px;
  }
  .error {
    color: red;
    font-weight: bold;
  }
}
